In [3]:
name = "Ola"
uni = "FUNAAB"
lga = "Odeda"
nigerian_food = "Amala"

print(name,"\n",uni,"\n", lga,"\n", nigerian_food)
print(f"{name}\n{uni}\n{lga}\n{nigerian_food}")

Ola
 FUNAAB
 Odeda
 Amala
Ola
FUNAAB
Odeda
Amala

In [6]:
statement =     """ 
    Nigeria is my country

    """
    
print(statement)

    Nigeria is my country

In [5]:
# 
def string ():

    """ 
    Nigeria is my country

    """
    return string

In [17]:
num = (1, 4, 7)
index = 0, 1, 2
# num[0] = 2

num1 = [1, 4, 7]
print(num1)
num1[0] = 5
print(num1)

subject = ("Phy", "Csc", "MTs")

roq_score = 80

sarah_score = 81

moyin_score = 82

muhammed_score = 83

subject[0]

subject[2] = "bio"

subject

[1, 4, 7]
[5, 4, 7]

TypeError: 'tuple' object does not support item assignment

In [45]:
word = "pythons"
word[-1]
# -1,-2
# pyt
# step by default is 1+1 = 2
# # word[start : end : step]
# word[::3]       #pyt, phs, phs, phs

# -3, -2, -1, 0
#  o     n   s
word[::-1]
# 7. Write a program to reverse a word using slicing ([::-1]).
# word[0:3:2] 

# step = -1+(-1) =-2

# word[-7]

name = "mavi"
name[::-1] #ivam

'ivam'

In [7]:
# 2 **3

2 * 2* 2
# Boolean = True or False

# "Roqeebat" "Roqeebat" "Roqeebat"
name_statement = "Roqeebat is in 300 level. She is working at email.com"

# print("levels" in name_statement)

# print(name_statement.find("p"))
# # print(name_statement.rfind("i"))

# print(name_statement.index("i"))

print(name_statement.startswith(".com"))
print(name_statement.endswith(".com"))

False
True

In [49]:
"2" + "2"

# 2 + 2 = 22

"Muhammed" + "sarah" + "roqeebat" + "Mazi"

'MuhammedsarahroqeebatMazi'

In [ ]:
name = in